<div fxLayout="row" fxLayoutAlign="center">
  <mat-form-field>
    <mat-label>Search Artist</mat-label>
    <input #term matInput type="text" (keyup)="search(term.value)" />
  </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card
    *ngFor="let artist of artists"
    class="card-release"
    fxFlex="20"
    fxFlex.sm="40"
    fxFlex.xs="40"
  >
    <img class="img-pointer" mat-card-image [src]="artist.images[0].url" />
    <mat-card-content class="text-white">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="title">{{ artist.name }}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
