/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
}

.swal2-loader {
  border-color: #1dd05d transparent #1dd05d transparent !important;
}

.swal2-icon.swal2-info {
  border-color: #1dd05d !important;
  color: white !important;
}

.swal2-styled.swal2-confirm {
  background-color: #1ec45a !important;
  color: #000 !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: none !important;
}

::ng-deep .mat-drawer-container {
  background-color: transparent !important;
}

.mat-chip.mat-standard-chip {
  background-color: #1dd05d;
  margin-bottom: 7px;
  cursor: pointer;
}
